<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- chat -->
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-9">
      <div id="conversations-list">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel" sytle="border-radius: 0px">
        <div class="panel-heading">
          <h3 class="panel-title">Chat With Other Users</h3>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
          <%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  