
<!-- chat -->
<div class="container" style="margin-top: 100px">
  <div class="row nopadding">
    <div class="col-md-4 col-md-pull-1 col-sm-6 col-xs-6">
      <div class="panel" style="border-radius: 0px; border-right: 1px solid #D0D0D0">
        <div class="panel-heading">
          <h2 class="text-center bold">Chat</h2>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <div class="row">
              <div class="col-md-3 col-md-push-1 col-sm-4 col-xs-4">
                <% if user.image.present? %>
                  <%= image_tag user.image.url(:thumb), class: "img-responsive img-circle", size: "20x20" %>
                <% else %>
                  <h3></h3>
                <% end %>  
              </div>
              <div class="col-md-2 col-sm-4 col-xs-4"> 
                <% if user.name %>                          
                  <%= link_to user.name.capitalize, conversations_path(user_id: user), remote: true, method: :post, style: "font-size: 130%", class: "bold" %>
                <% end %>  
              </div>
              <div class="col-md-7 col-sm-4 col-xs-4 col-md-push-5 col-sm-push-2 col-xs-push-1" style="margin-top: 10px">
                <% if Session.find_by(user_id: user.id) %>     
                  <i class="fa fa-circle" aria-hidden="true" style="color: #40ff00; font-size: 60%"></i>
                <% else %> 
                  <i class="fa fa-circle" aria-hidden="true" style="color: red; font-size: 60%"></i> 
                <% end %>
              </div>
            </div><br>              
          <% end %> 
        </div>
      </div>
    </div>    
    <div class="col-md-6 col-md-pull-1 col-sm-6 col-xs-6">
      <div id="conversations-list">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
    </div>  
  </div>
</div>  