<div class="container" style="margin-top: 70px">
  <div class="col-md-12 col-xs-12 col-sm-12">
  	<h2>Create Event</h2>
  	<%= render 'form', event: @event %>
  	<%= link_to 'Back', events_path, class: "btn btn6", style: "padding: 6px 50px" %>
  </div>  
</div>