<div class="row">
	<div class="col-md-6">
		<%= bootstrap_form_for current_user do |f| %>
			<%= f.email_field :email, placeholder: "Enter Email To Add Friend" %>
			<%= f.submit "Add Friend", friendships_path, method: :post, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
