<div class="container">    
      <!--  user authentication -->
  <% if user_signed_in? %>
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Feed</h1>
    </div>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <!-- add user name here!!! -->
        <h1><%= post.description %></h1>
      </div>
      <div class="col-md-4 btn-group">
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="row">
      <h1>Please sign In Or Sign Up before trying to view or modify the Feed</h1>
    </div>

  <% end %>

</div>
