

@import "bootstrap";
@import "font-awesome";

.font {
   font-family: 'Raleway', sans-serif;
}

.bold {
     font-family: 'Oswald', sans-serif;
}

.name {
    padding-top: 10px; 
    font-size: 135%;
    font-weight: 900;
    color: #004d99;
}

.name2 { 
    font-weight: 900;
    color: #004d99;
}

.btn1 {
    background-color: inherit;
}

.btn2 {
   background-color: inherit;
   font-weight: 900;
   margin-left: -7px; 
   margin-top: -6px;
   max-height: 30px;
   min-width: 150px
}

.btn3 {
   background-color: inherit;
   font-weight: 900;
   margin-left: -7px; 
   margin-top: -6px;
}

.btn4 {
    font-size: 120%; 
    padding: 1px 20px; 
    font-weight: 900; 
    color: #707070;
}

.btn5 {
    background-color: inherit;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 150%;
}

.btn6 {
  background-color: #F8F8F8;
}

.btn7 {
  color: #284c79;
  font-weight: bold; 
}
.btn7:hover {
  background-color: #F8F8F8;
  color: #284c79;
  font-weight: bold; 
}

.btn8 {
  background-color: #A9A9A9;
  color: black;
  padding: 2px 40px;
}

button .full-width{
  width:100%;
  display:block; 
}


.btnfriend {
  background-color: #284c79;
  color: white;
}

#dropdownMenu1 {
  background-color: #1a75ff;
  border: none;
}

.navbar {
   background-color: #3b5998;
   height: 50px;
   color: white;
}

.colp { 
  background: #3b5998;
}


.navbar-home {
   background-color: #3b5998;
   height: 100px;
   color: white;
}

.navbar-home2 {
   background-color: #3b5998;
   height: 60px;
   color: white;
}

.col {
    color:white;
}

#custom-search-input{
    margin-top: 0px;
    height: 35px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#post {
    top:30%;
    right:0;
    outline: none;
    overflow:hidden;
}

.nopadding > div[class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.nopadding2 > div[class^="col-"], .nopadding2 > div[class^="col-"] > a {
    padding-right: 0;
    padding-left: 0;
}

/*
for user profile
*/

.cov { 
    padding-bottom: 300px; 
    background-size: cover;
    max-height: 400px;
}

.nav-tabs {
    height: auto;
    font-size: 120%;
    font-weight: 900;
}

.inputfile {
    margin-top: 12px;
    width: 30px;
    height: 20px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
}

.modal-header {
    background-color: #F8F8F8;
    max-height: 40px;    
}
.pan {
    min-height: 80px;
    background-color: white;
}

.panlog { 
  min-height: 170px;  
  background-size:cover; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}







.panel-body 
.btn:not(.btn-block) { 

    vertical-align: middle !important;

    text-wrap: normal !important;
    padding: 0; 
}
/* Font Size For Button Text */
.glyphsize {
    font-size:15px !important;
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0;
  color: rgb(136, 172, 217);
  border: none;
}

#drop:hover{
  background-color: #284c79;
}

.navtab {
  border-radius: 0px;
  border: none;
  background-color: white;
  color: black;
  font-size: 100%;
}

.tabpane1 {
  background-color: white;
  padding: 20px; 
  margin-top:10px;
}

ul.nav-fill > li.active > a,
ul.nav-fill > li.active > a:hover,
ul.nav-fill > li.active > a:focus {
  background-color: #800000;
  color: white;
  font-size: 140%;
}

.nav-fill li a {
  color: black;
  font-size: 110%;
} 

/*messenger*/

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
 
 
.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}
 
 
.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

#drop10 > li > a:hover {
  background-color: #3b5998;
}



.nav1>li>a:hover, .nav1>li>a:focus, .nav1 .open>a, .nav1 .open>a:hover, .nav1 .open>a:focus {
    background: #3b5998;
}
.dropdown {
    background: inherit;
    width:20px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}