
@import "font-awesome";
@import "bootstrap";


.font {
   font-family: 'Raleway', sans-serif;
}

.name {
    padding-top: 10px; 
    font-size: 135%;
    font-weight: 900;
    color: #004d99;
}

.name2 { 
    font-weight: 900;
    color: #004d99;
}

.btn1 {
    background-color: inherit;
}

.btn2 {
   background-color: inherit;
   font-weight: 900;
   margin-left: -7px; 
   margin-top: -6px;
   max-height: 30px;
   min-width: 150px
}

.btn3 {
   background-color: inherit;
   font-weight: 900;
   margin-left: -7px; 
   margin-top: -6px;
}

.btn4 {
    font-size: 120%; 
    padding: 1px 20px; 
    font-weight: 900; 
    color: #707070;
}

.btn5 {
    background-color: inherit;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 150%;
}

.btnfriend {
  background-color: #284c79;
  color: white;
}

#dropdownMenu1 {
  background-color: #1a75ff;
  border: none;
}

.navbar {
   background-color: #284c79;
   height: 50px;
   color: white;
}

.colp { 
  background: #284c79;
}


.navbar-home {
   background-color: #284c79;
   height: 100px;
   color: white;
}

.navbar-home2 {
   background-color: #284c79;
   height: 60px;
   color: white;
}

.col {
    color:white;
}

#custom-search-input{
    margin-top: 0px;
    height: 35px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#post {
    top:30%;
    right:0;
    outline: none;
    overflow:hidden;
}




/*
for user profile
*/

.cov { 
    padding-bottom: 300px; 
    background-size: cover;
    max-height: 400px;
}

.nav-tabs {
    height: auto;
    font-size: 120%;
    font-weight: 900;
}

.inputfile {
    margin-top: 12px;
    width: 30px;
    height: 20px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
}

.modal-header {
    background-color: #F8F8F8;
    max-height: 40px;    
}
.pan {
    min-height: 80px;
    background-color: white;
}

.panlog { 
  min-height: 170px; 
  min-width: 170px; 
  background-size:cover; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}







.panel-body 
.btn:not(.btn-block) { 
    width:80px !important;
    height:80px !important;
    margin-bottom:10px !important;
    vertical-align: middle !important;
    text-align: center !important;
    text-wrap: normal !important;
    padding: 0 0 0 0 !important; 
}
/* Font Size For Button Text */
.glyphsize {
    font-size:15px !important;
}

/* Colours Used for Glyphicons and some text */
.dgreen { color: #060; }
.green { color: #0F0; }
.blue { color: #00F; }

/* Button Colours */
.btn-dblue { 
  color: #ffffff; 
  background-color: #1B23BD; 
  border-color: #000A7A; 
} 
 
.btn-dblue:hover, 
.btn-dblue:focus, 
.btn-dblue:active, 
.btn-dblue.active, 
.open .dropdown-toggle.btn-dblue { 
  color: #ffffff; 
  background-color: #18148C; 
  border-color: #000A7A; 
} 
 
.btn-dblue:active, 
.btn-dblue.active, 
.open .dropdown-toggle.btn-dblue { 
  background-image: none; 
} 
 
.btn-dblue.disabled, 
.btn-dblue[disabled], 
fieldset[disabled] .btn-dblue, 
.btn-dblue.disabled:hover, 
.btn-dblue[disabled]:hover, 
fieldset[disabled] .btn-dblue:hover, 
.btn-dblue.disabled:focus, 
.btn-dblue[disabled]:focus, 
fieldset[disabled] .btn-dblue:focus, 
.btn-dblue.disabled:active, 
.btn-dblue[disabled]:active, 
fieldset[disabled] .btn-dblue:active, 
.btn-dblue.disabled.active, 
.btn-dblue[disabled].active, 
fieldset[disabled] .btn-dblue.active { 
  background-color: #1B23BD; 
  border-color: #000A7A; 
} 
 
.btn-dblue .badge { 
  color: #1B23BD; 
  background-color: #ffffff; 
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0;
  color: rgb(136, 172, 217);
  border: none;
}
