
@import "bootstrap";

.box {
    width: 300px;
    border: 2px solid green;
    padding: 13px;
    margin: 10px;
    border-radius: 15px 40px 30px;
    background: #73AD21;
}
.coolfont {
	font-family: comic sans ms;
}
.vertical {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.font {
   font-family: 'Raleway', sans-serif;
}

.name {
    padding-top: 10px; 
    font-size: 135%;
    font-weight: 900;
    color: #004d99;
}

.btn1 {
    background-color: inherit;
}

.btn2 {
   background-color: inherit;
   font-weight: 900;
   margin-left: -7px; 
   margin-top: -6px;
}










